# ignore all eclipse IDE project files
*.cproject
*.project
*.pydevproject
/.settings

# ignore all common binary files by default
*.tar
*.tar.gz
*.zip
*.pyc
/build
/build_*

# ignore all core dump files
core 
